<<<<<<< HEAD
*{
    margin: 0%;
    padding: 0%;
}
.App {
height: 730px;
  text-align: center;
  background-color: aqua;
}
.head {
    background-color: burlywood;
    height: 100px;
}

.ToDoForm{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0 50px;
    margin-bottom: 20px;
}
.input{
    text-align: center;
    margin: 0 50px;
    height: 30px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.but{
    margin: 0 50px;
    background-color: blanchedalmond;
    border-radius: 12px;
    width: 100px;
}
.but:hover{
    background-color: brown;
}

.body{
    display: flex;
    justify-content: center;
}
.item-todo{
    height: 30px;
    width: 300px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    background-color: bisque;
    border-radius: 12px;
    margin-left: 10px;
}

.item-delete{
    margin-right: 20px;
}

.item-text{
    margin-left: 20px;
}
.chertila {
    text-decoration: line-through;
}



@media screen and (max-width: 976px) {
    .head{
        height: 150px;
    }

}
@media screen and (max-width: 550px) {
    .head{
        height: 170px;
    }

}
@media screen and (max-width: 405px) {
    .head{
        height: 200px;
    }

}
@media screen and (max-width: 368px) {
    .ToDoForm{
        display: block;
    }
    .but{
        margin: 0 0;
        justify-content: center;
    }
    .input{
        margin: 0 0;
        justify-content: center;
        width: 200px;
    }

}
@media screen and (max-width: 319px) {
    .head{
        height: 250px;
    }

}


=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> cbfa7221cfe8a75e48f61b4ddac4986809b481bf
